body {
    margin: 0;
    height: 100vh;
    background-color: #f0f0f0; /* Abu-abu cerah */
    color: #333;
    font-family: Arial, sans-serif;
}
     h1 {
       color: black
     }
     p {
         color: black
     }
     h2 {
         color: black
     }